<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LIST OF ELEMENTS</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LIST OF ELEMENTS</ion-title>
     
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Non-Metal Elements</ion-card-title>
      <ion-card-subtitle>Within physics and chemistry, 
        the simplest and purest substances are elements, each being made up of atoms that contain the same number of protons.
         Around 80% of the elements on the periodic table are considered metals on the periodic table, with the threshold between what is and isn't a metal being only approximate and vague due to the lack of a universally accepted definition for all the periodic table categories. However, metals are typically malleable, lustrous solids at room temperature, with some being brittle and matte. Metals also conduct and transfer heat and electricity well compared to nonmetals.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="h" img src="../../assets/img/H.jpg" />
          </ion-thumbnail>
          <ion-label  id="trigger-buttonH">Hydrogen</ion-label>
<ion-popover trigger="trigger-buttonH">
  <ng-template>
    <ion-content class="ion-padding">
      <img alt="h1" img src="../../assets/img/h1.JPG" />
      
    <p>Discovery date:	1766</p> 
    <p> Discovered by:	Henry Cavendish</p> 
    <p>Origin of the name: The name is derived from the Greek 'hydro' and 'genes' meaning water forming. </p>
  <p> Allotropes:	H2 </p> 
<ion-footer>Hydrogen is an essential element for life. It is present in water and in almost all the molecules in living things.
   However, hydrogen itself does not play a particularly active role. It remains bonded to carbon and oxygen atoms, while the chemistry of life takes place at the more active sites involving, for example, oxygen, nitrogen and phosphorus.</ion-footer></ion-content>
  </ng-template>
</ion-popover>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="N" img src="../../assets/img/N.jpg" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonN">Nitrogen</ion-label>
<ion-popover trigger="trigger-buttonN">
  <ng-template>
    <ion-content class="ion-padding">
      <img alt="n1" img src="../../assets/img/N1.JPG" />
      
    <p>Discovery date:	1772 </p> 
    <p> Discovered by:	Daniel Rutherford</p> 
    <p>Origin of the name: The name is derived from the Greek 'nitron' and 'genes' meaning nitre forming.  </p>
  <p> Allotropes:	N2 </p> 
<ion-footer>Nitrogen makes up 78% of the air, by volume. It is obtained by the distillation of liquid air. Around 45 million tonnes are extracted each year. 
  It is found, as compounds, in all living things and hence also in coal and other fossil fuels.</ion-footer></ion-content>
  </ng-template>
</ion-popover>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="O" img src="../../assets/img/O.jpg" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonO">Oxygen</ion-label>
          <ion-popover trigger="trigger-buttonO">
            <ng-template>
              <ion-content class="ion-padding">
                <img alt="O1" img src="../../assets/img/O1.JPG" />
                
              <p>Discovery date:	1774 </p> 
              <p> Discovered by:	Joseph Priestley in Wiltshire, England and independently by Carl Wilhelm Scheele in Uppsala, Sweden </p> 
              <p>Origin of the name: The name comes from the Greek 'oxy genes', meaning acid forming.  </p>
            <p> Allotropes:		O2, O3 </p> 
          <ion-footer>When living things need energy they take in oxygen for respiration. 
            The oxygen returns to the atmosphere in the form of carbon dioxide.</ion-footer></ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="C" img src="../../assets/img/C.jpg" />
          </ion-thumbnail>
          <ion-label  id="trigger-buttonC">Carbon</ion-label>
          <ion-popover trigger="trigger-buttonC">
            <ng-template>
              <ion-content class="ion-padding">
                <img alt="C1" img src="../../assets/img/C1.JPG" />
                
              <p>Discovery date:	Prehistoric  </p> 
              <p> Discovered by:	no data found </p> 
              <p>Origin of the name: The name is derived from the Latin ‘carbo’, charcoal   </p>
            <p> Allotropes:		diamond, graphite, graphene, amorphous, fullerene   </p> 
          <ion-footer>Carbon fibre is finding many uses as a very strong, yet lightweight, material.
             It is currently used in tennis rackets, skis, fishing rods, rockets and aeroplanes.</ion-footer></ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="P" img src="../../assets/img/P.jpg" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonP">Phosphorus</ion-label>
          <ion-popover trigger="trigger-buttonP">
            <ng-template>
              <ion-content class="ion-padding">
                <img alt="P1" img src="../../assets/img/P1.JPG" />
                
              <p>Discovery date:	1669   </p> 
              <p> Discovered by:	Hennig Brandt </p> 
              <p>Origin of the name: The name is derived from the Greek 'phosphoros', meaning bringer of light. </p>
            <p> Allotropes:		White P, Red P, Black P, P2 </p> 
          <ion-footer>Phosphorus is not found uncombined in nature, but is widely found in compounds in minerals.
             An important source is phosphate rock, which contains the apatite minerals and is found in large quantities in the USA and elsewhere. 
            There are fears that ‘peak phosphorus’ will occur around 2050, after which our sources will dwindle.</ion-footer></ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Transition Metals Elements</ion-card-title>
      <ion-card-subtitle>Transition metals are all the elements in groups 3–12 of the periodic table. More than half of all elements are transition metals. Transition metals are typical metals, with properties such as a superior ability to conduct electricity and heat.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Sc" img src="../../assets/img/Sc.jpg" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonSc">Scandium</ion-label>
          <ion-popover trigger="trigger-buttonSc">
            <ng-template>
              <ion-content class="ion-padding">
                <img alt="Sc1" img src="../../assets/img/Sc1.JPG" />
                
              <p>Discovery date:	1879   </p> 
              <p> Discovered by:	Lars Frederik Nilson </p> 
              <p>Origin of the name: The name derives from 'Scandia', the Latin name for Scandinavia.  </p>
            <p> Allotropes:	no data found.</p> 
          <ion-footer>Scandium iodide is added to mercury vapour lamps to produce a highly efficient light source resembling sunlight.
             These lamps help television cameras to reproduce colour well when filming indoors or at night-time.</ion-footer></ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Ti" img src="../../assets/img/Ti.jpg" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonTi">Titanium</ion-label>
          <ion-popover trigger="trigger-buttonTi">
            <ng-template>
              <ion-content class="ion-padding">
                <img alt="ti1" img src="../../assets/img/Ti1.JPG" />
                
              <p>Discovery date:	1791    </p> 
              <p> Discovered by:	William Gregor </p> 
              <p>Origin of the name: The name is derived from the Titans, the sons of the Earth goddess of Greek mythology.   </p>
            <p> Allotropes:	no data found.</p> 
          <ion-footer>Titanium(IV) oxide is used in sunscreens because it prevents UV light from reaching the skin.
             Nanoparticles of titanium(IV) oxide appear invisible when applied to the skin.</ion-footer></ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Zn" img src="../../assets/img/Zn.jpg" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonZn">Zinc</ion-label>
          <ion-popover trigger="trigger-buttonZn">
            <ng-template>
              <ion-content class="ion-padding">
                <img alt="Zn1" img src="../../assets/img/Zn1.JPG" />
                
              <p>Discovery date:	Identified as an element in 1746, but known to the Greeks and Romans before 20BC.     </p> 
              <p> Discovered by:	Andreas Marggraf </p> 
              <p>Origin of the name: The name is derived from the German, 'zinc', which may in turn be derived from the Persian word 'sing', meaning stone. </p> 
              <p> Allotropes:	no data found.</p> 
              <ion-footer>Most zinc is used to galvanise other metals, such as iron, to prevent rusting. 
                Galvanised steel is used for car bodies, street lamp posts, safety barriers and suspension bridges.</ion-footer></ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Y" img src="../../assets/img/Y.jpg" />
          </ion-thumbnail>
          <ion-label  id="trigger-buttonY">Yttrium</ion-label>
          <ion-popover trigger="trigger-buttonY">
            <ng-template>
              <ion-content class="ion-padding">
                <img alt="y1" img src="../../assets/img/Y1.JPG" />
                
              <p>Discovery date:	1794  </p> 
              <p> Discovered by:	Johan Gadolin  </p> 
              <p>Origin of the name:  Yttrium is named after Ytterby, Sweden. </p> 
              <p> Allotropes:	no data found.</p> 
              <ion-footer>The radioactive isotope yttrium-90 has
                 medical uses. It can be used to treat some cancers, such as liver cancer.</ion-footer></ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Cd" img src="../../assets/img/Cd.jpg" />
          </ion-thumbnail>
          <ion-label id="trigger-buttoncd">Cadmium</ion-label>
          <ion-popover trigger="trigger-buttoncd">
            <ng-template>
              <ion-content class="ion-padding">
                <img alt="cd1" img src="../../assets/img/Cd1.JPG" />
                
              <p>Discovery date:	1817  </p> 
              <p> Discovered by:	Friedrich Stromeyer </p> 
              <p>Origin of the name:  The name is derived from the Latin 'cadmia', the name for the mineral calamine. </p> 
              <p> Allotropes:	no data found.</p> 
              <ion-footer>Cadmium is a poison and is known to cause birth defects and cancer. 
                As a result, there are moves to limit its use.</ion-footer></ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="La" img src="../../assets/img/La.jpg" />
            </ion-thumbnail>
            <ion-label id="trigger-buttonla">Lanthanum</ion-label>
            <ion-popover trigger="trigger-buttonla">
              <ng-template>
                <ion-content class="ion-padding">
                  <img alt="la1" img src="../../assets/img/la1.JPG" />
                  
                <p>Discovery date:	1839  </p> 
                <p> Discovered by:	Carl Gustav Mosander </p> 
                <p>Origin of the name:  The name is derived from the Greek 'lanthanein', meaning to lie hidden.  </p> 
                <p> Allotropes:	no data found.</p> 
                <ion-footer>The ion La3+ is used as a biological tracer for Ca2+,
                 and radioactive lanthanum has been tested for use in treating cancer.</ion-footer></ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Hg" img src="../../assets/img/Hg.jpg" />
              </ion-thumbnail>
              <ion-label  id="trigger-buttonhg">Mercury</ion-label>
              <ion-popover trigger="trigger-buttonhg">
                <ng-template>
                  <ion-content class="ion-padding">
                    <img alt="hg1" img src="../../assets/img/Hg1.JPG" />
                    
                  <p>Discovery date:	approx 1500BC   </p> 
                  <p> Discovered by:	no data found. </p> 
                  <p>Origin of the name:  Mercury is named after the planet, Mercury.   </p> 
                  <p> Allotropes:	no data found.</p> 
                  <ion-footer>It is now mainly used in the chemical industry as catalysts.
                     It is also used in some electrical switches and rectifiers.</ion-footer></ion-content>
                </ng-template>
              </ion-popover>
            </ion-item>

              <ion-item >
                <ion-thumbnail slot="start">
                  <img alt="Ag" img src="../../assets/img/Ag.jpg" />
                </ion-thumbnail>
                <ion-label id="trigger-buttonag">Silver</ion-label>
                <ion-popover trigger="trigger-buttonag">
                  <ng-template>
                    <ion-content class="ion-padding">
                      <img alt="ag1" img src="../../assets/img/Ag1.JPG" />
                      
                    <p>Discovery date:	approx 3000BC </p> 
                    <p> Discovered by:	no data found. </p> 
                    <p>Origin of the name:  The name is derived from the Anglo-Saxon name, 'siolfur'. </p> 
                    <p> Allotropes:	no data found.</p> 
                    <ion-footer>Sterling silver contains 92.5% silver. The rest is copper or some other metal. 
                      It is used for jewellery and silver tableware, where appearance is important.</ion-footer></ion-content>
                  </ng-template>
                </ion-popover>
               </ion-item>

               <ion-item>
                <ion-thumbnail slot="start">
                  <img alt="au" img src="../../assets/img/Au.jpg" />
                </ion-thumbnail>
                <ion-label id="trigger-buttonau">Gold</ion-label>
                <ion-popover trigger="trigger-buttonau">
                  <ng-template>
                    <ion-content class="ion-padding">
                      <img alt="au1" img src="../../assets/img/au1.JPG" />
                      
                    <p>Discovery date:	approx 3000BC  </p> 
                    <p> Discovered by:	no data found. </p> 
                    <p>Origin of the name:  The name is the Anglo-Saxon word for the metal and the symbol comes from the Latin ‘aurum’, gold. </p> 
                    <p> Allotropes:	no data found.</p> 
                    <ion-footer>The metal is also used for coinage, and has been used as standard for monetary systems in some countries.</ion-footer></ion-content>
                  </ng-template>
                </ion-popover>
               </ion-item>  
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
     <ion-card-title>Alkaline Earth Metals Elements</ion-card-title>
     <ion-card-subtitle> Alkaline-earth metal, any of the six chemical elements that comprise Group 2 (IIa) 
       of the periodic table. The elements are beryllium (Be), magnesium (Mg), calcium (Ca), strontium (Sr), barium (Ba), and radium (Ra)..</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
     <ion-list>
       <ion-item>
         <ion-thumbnail slot="start">
           <img alt="be" img src="../../assets/img/Be.JPG" />
         </ion-thumbnail>
         <ion-label id="trigger-buttonbe">Beryllium</ion-label>
<ion-popover trigger="trigger-buttonbe">
 <ng-template>
   <ion-content class="ion-padding">
     <img alt="be1" img src="../../assets/img/Be1.JPG" />
     
   <p>Discovery date:	1797 </p> 
   <p> Discovered by:	Nicholas Louis Vauquelin</p> 
   <p>Origin of the name: The name is derived from the Greek name for beryl, 'beryllo'. </p>
 <p> Allotropes: no data found.</p> 
<ion-footer>The oxide has a very high melting point making it useful in nuclear work as well as having ceramic applications.</ion-footer></ion-content>
 </ng-template>
</ion-popover>
       </ion-item>
 
       <ion-item>
         <ion-thumbnail slot="start">
           <img alt="Mg" img src="../../assets/img/Mg.JPG" />
         </ion-thumbnail>
         <ion-label id="trigger-buttonMg">Magnesium</ion-label>
<ion-popover trigger="trigger-buttonMg">
 <ng-template>
   <ion-content class="ion-padding">
     <img alt="mg1" img src="../../assets/img/Mg1.JPG" />
     
   <p>Discovery date:	1755 </p> 
   <p> Discovered by:	Joseph Black </p> 
   <p>Origin of the name: The name is derived from Magnesia, a district of Eastern Thessaly in Greece. </p>
 <p> Allotropes:	no data found </p> 
<ion-footer> Grignard reagents are organic magnesium compounds that are important for the chemical industry.</ion-footer></ion-content>
 </ng-template>
</ion-popover>
       </ion-item>
 
       <ion-item>
         <ion-thumbnail slot="start">
           <img alt="ca" img src="../../assets/img/ca.JPG" />
         </ion-thumbnail>
         <ion-label id="trigger-buttonca">Calcium</ion-label>
         <ion-popover trigger="trigger-buttonca">
           <ng-template>
             <ion-content class="ion-padding">
               <img alt="ca1" img src="../../assets/img/ca1.JPG" />
               
             <p>Discovery date:	1808 </p> 
             <p> Discovered by:	Humphry Davy</p> 
             <p>Origin of the name: The name is derived from the Latin 'calx' meaning lime.</p>
           <p> Allotropes:		no data found</p> 
         <ion-footer>Calcium metal is used as a reducing agent in preparing other metals such as thorium and uranium.
            It is also used as an alloying agent for aluminium, beryllium, copper, lead and magnesium alloys.</ion-footer></ion-content>
           </ng-template>
         </ion-popover>
       </ion-item>
 
       <ion-item>
         <ion-thumbnail slot="start">
           <img alt="sr" img src="../../assets/img/Sr.JPG" />
         </ion-thumbnail>
         <ion-label id="trigger-buttonsr">Strontium</ion-label>
         <ion-popover trigger="trigger-buttonsr">
           <ng-template>
             <ion-content class="ion-padding">
               <img alt="sr1" img src="../../assets/img/Sr1.JPG" />
               
             <p>Discovery date:	1790 </p> 
             <p> Discovered by:	Adair Crawford </p> 
             <p>Origin of the name: Strontium is named after Strontian, a small town in Scotland.</p>
           <p> Allotropes:		no data found</p> 
         <ion-footer>Strontium chloride hexahydrate is an ingredient in toothpaste for sensitive teeth.</ion-footer></ion-content>
           </ng-template>
         </ion-popover>
       </ion-item>

       <ion-item>

        <ion-thumbnail slot="start">
          <img alt="ba" img src="../../assets/img/Ba.JPG" />
        </ion-thumbnail>
        <ion-label id="trigger-buttonba">Barium</ion-label>
        <ion-popover trigger="trigger-buttonba">
          <ng-template>
            <ion-content class="ion-padding">
              <img alt="ba1" img src="../../assets/img/Ba1.JPG" />
              
            <p>Discovery date:	1808 
            </p> 
            <p> Discovered by:	Humphry Davy </p> 
            <p>Origin of the name: The name comes from the Greek 'barys', meaning heavy. </p>
          <p> Allotropes:		no data found</p> 
        <ion-footer>
          Barium carbonate has been used in the past as a rat poison. Barium nitrate gives fireworks a green colour.</ion-footer></ion-content>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-item>

        <ion-thumbnail slot="start">
          <img alt="Ra" img src="../../assets/img/Ra.JPG" />
        </ion-thumbnail>
        <ion-label id="trigger-buttonRa">Radium</ion-label>
        <ion-popover trigger="trigger-buttonRa">
          <ng-template>
            <ion-content class="ion-padding">
              <img alt="Ra1" img src="../../assets/img/Ra1.JPG" />
              
            <p>Discovery date:		1898  
            </p> 
            <p> Discovered by:	Pierre and Marie Curie </p> 
            <p>Origin of the name: TThe name is derived from the Latin 'radius', meaning ray. </p>
          <p> Allotropes:		no data found</p> 
        <ion-footer>
          Radium now has few uses, because it is so highly radioactive.</ion-footer></ion-content>
          </ng-template>
        </ion-popover>
      </ion-item>

</ion-list>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
   <ion-card-title>Alkali Metals Elements</ion-card-title>
   <ion-card-subtitle> Group 1A (or IA) of the periodic table are the alkali metals: hydrogen (H), lithium (Li), sodium (Na), potassium (K), rubidium (Rb), cesium (Cs), and francium (Fr). These are (except for hydrogen) soft, shiny, low-melting, highly reactive metals, which tarnish when exposed to air.</ion-card-subtitle>
 </ion-card-header>
 <ion-card-content>
   <ion-list>
     <ion-item>
       <ion-thumbnail slot="start">
         <img alt="na" img src="../../assets/img/Na.JPG" />
       </ion-thumbnail>
       <ion-label id="trigger-buttonna">Sodium</ion-label>
<ion-popover trigger="trigger-buttonna">
<ng-template>
 <ion-content class="ion-padding">
   <img alt="na1" img src="../../assets/img/Na1.JPG" />
   
 <p>Discovery date:	1807 </p> 
 <p> Discovered by:	Humphry Davy </p> 
 <p>Origin of the name: The name is derived from the English word 'soda'. </p>
<p> Allotropes: no data found.</p> 
<ion-footer>Sodium carbonate (washing soda) is also a useful sodium salt. It is used as a water softener.</ion-footer></ion-content>
</ng-template>
</ion-popover>
     </ion-item>

     <ion-item>
       <ion-thumbnail slot="start">
         <img alt="K" img src="../../assets/img/K.JPG" />
       </ion-thumbnail>
       <ion-label id="trigger-buttonk">Potassium</ion-label>
<ion-popover trigger="trigger-buttonk">
<ng-template>
 <ion-content class="ion-padding">
   <img alt="k1" img src="../../assets/img/K1.JPG" />
   
 <p>Discovery date:		1807  </p> 
 <p> Discovered by:	Humphry Davy </p> 
 <p>Origin of the name: The name is derived from the English word 'potash'. </p>
<p> Allotropes:	no data found </p> 
<ion-footer>The greatest demand for potassium compounds is in fertilisers. Many other potassium salts are of great importance, including the nitrate, carbonate, chloride, bromide, cyanide and sulfate. Potassium carbonate is used in the manufacture of glass. Potassium hydroxide is used to make detergent and liquid soap. Potassium chloride is used in pharmaceuticals and saline drips.</ion-footer></ion-content>
</ng-template>
</ion-popover>
     </ion-item>

     <ion-item>
       <ion-thumbnail slot="start">
         <img alt="cs" img src="../../assets/img/cs.JPG" />
       </ion-thumbnail>
       <ion-label  id="trigger-buttoncs">Caesium</ion-label>
       <ion-popover trigger="trigger-buttoncs">
         <ng-template>
           <ion-content class="ion-padding">
             <img alt="cs1" img src="../../assets/img/Cs1.JPG" />
             
           <p>Discovery date:	1860  </p> 
           <p> Discovered by:	Gustav Kirchhoff and Robert Bunsen</p> 
           <p>Origin of the name: The name is derived from the Latin 'calx' meaning lime.</p>
         <p> Allotropes:		no data found</p> 
       <ion-footer>The name comes from the Latin 'caesius', meaning sky blue, and derived from its flame colour. </ion-footer></ion-content>
         </ng-template>
       </ion-popover>
     </ion-item>

     <ion-item>
       <ion-thumbnail slot="start">
         <img alt="Rb" img src="../../assets/img/Rb.JPG" />
       </ion-thumbnail>
       <ion-label  id="trigger-buttonrb">Rubidium</ion-label>
       <ion-popover trigger="trigger-buttonrb">
         <ng-template>
           <ion-content class="ion-padding">
             <img alt="rb1" img src="../../assets/img/Rb1.JPG" />
             
           <p>Discovery date:	1861  </p> 
           <p> Discovered by:	Gustav Kirchhoff and Robert Bunsen </p> 
           <p>Origin of the name: The name is derived form the Latin 'rubidius', meaning deepest red. </p>
         <p> Allotropes:		no data found</p> 
       <ion-footer>
        Rubidium nitrate is sometimes used in fireworks to give them a purple colour</ion-footer></ion-content>
         </ng-template>
       </ion-popover>
     </ion-item>

     <ion-item>
      <ion-thumbnail slot="start">
        <img alt="fr" img src="../../assets/img/Fr.JPG" />
      </ion-thumbnail>
      <ion-label id="trigger-buttonfr">Francium</ion-label>
      <ion-popover trigger="trigger-buttonfr">
        <ng-template>
          <ion-content class="ion-padding">
            <img alt="fr1" img src="../../assets/img/Fr1.JPG" />
            
          <p>Discovery date:	1939  </p> 
          <p> Discovered by:	Marguerite Perey </p> 
          <p>Origin of the name: Francium is named after France. </p>
        <p> Allotropes:		no data found</p> 
      <ion-footer>
        Francium has no uses, having a half life of only 22 minutes.</ion-footer></ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
</ion-list>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
   <ion-card-title>Lanthanide Metals Elements</ion-card-title>
   <ion-card-subtitle> The lanthanide (/ˈlænθənaɪd/) or lanthanoid (/ˈlænθənɔɪd/) 
    series of chemical elements[a] comprises the 14 metallic chemical elements with atomic numbers 57–70, from lanthanum through ytterbium.[2][3][4] Lutetium is also sometimes considered a lanthanide, despite being a d-block element and a transition metal. 
    These elements are often collectively known as the rare-earth elements or rare-earth metals.</ion-card-subtitle>
 </ion-card-header>
 <ion-card-content>
   <ion-list>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Ce" img src="../../assets/img/Ce.JPG" />
      </ion-thumbnail>
      <ion-label id="trigger-buttonCe">Cerium</ion-label>
      <ion-popover trigger="trigger-buttonCe">
        <ng-template>
          <ion-content class="ion-padding">
            <img alt="Ce1" img src="../../assets/img/Ceq.JPG" />
            
          <p>Discovery date:		1803  </p> 
          <p> Discovered by:	 Jöns Jacob Berzelius and Wilhelm Hisinger </p> 
          <p>Origin of the name: Cerium is named for the asteroid, Ceres,
             which in turn was named after the Roman goddess of agriculture.   </p>
        <p> Allotropes:		no data found</p> 
      <ion-footer>
        Cerium is the major component of mischmetal alloy (just under 50%). The best-known use for this alloy is in ‘flints’ for cigarette lighters. This is because cerium will make sparks when struck. The only other element that does this is iron.
      </ion-footer></ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Pr" img src="../../assets/img/Pr.JPG" />
      </ion-thumbnail>
      <ion-label id="trigger-buttonPr">Praseodymium</ion-label>
      <ion-popover trigger="trigger-buttonPr">
        <ng-template>
          <ion-content class="ion-padding">
            <img alt="Pr1" img src="../../assets/img/Pr1.JPG" />
            
          <p>Discovery date:	 1885  </p> 
          <p> Discovered by:	 Carl Auer von Welsbach </p> 
          <p>Origin of the name: The name is derived from the Greek
             'prasios didymos' meaning green twin. </p>
        <p> Allotropes:		no data found</p> 
      <ion-footer>
      Praseodymium is used in a variety of alloys. The high-strength alloy it forms with magnesium is used in aircraft engines. Mischmetal is an alloy containing about 5% praseodymium and is used to make flints for cigarette lighters. Praseodymium is also used in alloys for permanent magnets. </ion-footer></ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="nd" img src="../../assets/img/Nd.JPG" />
      </ion-thumbnail>
      <ion-label id="trigger-buttonnd">Neodymium</ion-label>
      <ion-popover trigger="trigger-buttonnd">
        <ng-template>
          <ion-content class="ion-padding">
            <img alt="nd1" img src="../../assets/img/Nd1.JPG" />
            
          <p>Discovery date:	 1885   </p> 
          <p> Discovered by:	Carl Auer von Welsbach </p> 
          <p>Origin of the name: The name is derived from the Greek 'neos didymos' meaning new twin.  </p>
        <p> Allotropes:		no data found</p> 
      <ion-footer>
        The most important use for neodymium is in an alloy with iron and boron to make very strong permanent magnets. This discovery, in 1983, made it possible to miniaturise many electronic devices, including mobile phones, microphones, loudspeakers and electronic musical instruments. These magnets are also used in car windscreen wipers and wind turbines.
      </ion-footer>  
    </ion-content>
  </ng-template>
</ion-popover>
</ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Pm" img src="../../assets/img/Pm.JPG" />
      </ion-thumbnail>
      <ion-label id="trigger-buttonPm">Promethium</ion-label>
      <ion-popover trigger="trigger-buttonPm">
        <ng-template>
          <ion-content class="ion-padding">
            <img alt="Pm1" img src="../../assets/img/Pm1.JPG" />
            
          <p>Discovery date:	 	1945    </p> 
          <p> Discovered by:	Jacob .A. Marinsky, Lawrence E. Glendenin, and Charles D. Coryell </p> 
          <p> Origin of the name: Promethium is named after Prometheus of Greek mythology who stole fire from the Gods and gave it to humans.   </p>
        <p> Allotropes:		no data found</p> 
      <ion-footer>Most promethium is used only in research. A little promethium is used in specialised atomic batteries. These are roughly the size of a drawing pin and are used for pacemakers, guided missiles and radios. The radioactive decay of promethium is used to make a phosphor give off light and this light is converted into electricity by a solar cell.</ion-footer>

    </ion-content>
  </ng-template>
</ion-popover>
</ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="sm" img src="../../assets/img/sm.JPG" />
      </ion-thumbnail>
      <ion-label id="trigger-buttonsm">Samarium</ion-label>
      <ion-popover trigger="trigger-buttonsm">
        <ng-template>
          <ion-content class="ion-padding">
            <img alt="sm1" img src="../../assets/img/sm1.JPG" />
            
          <p>Discovery date:	 	1879     </p> 
          <p> Discovered by:	Paul-Émile Lecoq de Boisbaudran </p> 
          <p> Origin of the name: The name is derived from samarskite, the name of the mineral from which it was first isolated. </p>
        <p> Allotropes:		no data found</p> 
<ion-footer>Samarium-cobalt magnets are much more powerful than iron magnets. They remain magnetic at high temperatures and so are used in microwave applications. They enabled the miniaturisation of electronic devices like headphones, and the development of personal stereos. However, neodymium magnets are now more commonly used instead.</ion-footer>   

</ion-content>
</ng-template>
</ion-popover>
</ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="eu" img src="../../assets/img/Eu.JPG" />
      </ion-thumbnail>
      <ion-label id="trigger-buttoneu">Europium</ion-label>
      <ion-popover trigger="trigger-buttoneu">
        <ng-template>
          <ion-content class="ion-padding">
            <img alt="eu1" img src="../../assets/img/Eu1.JPG" />
            
          <p>Discovery date:	 	Europium     </p> 
          <p> Discovered by:	Eugène-Anatole Demarçay </p> 
          <p> Origin of the name: Europium is named after Europe </p>
        <p> Allotropes:		no data found</p> 
<ion-footer>
  Europium is used in the printing of euro banknotes. It glows red under UV light, and forgeries can be detected by the lack of this red glow.
</ion-footer>    

</ion-content>
</ng-template>
</ion-popover>
</ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="gd" img src="../../assets/img/gd.JPG" />
      </ion-thumbnail>
      <ion-label id="trigger-buttongd">Gadolinium</ion-label>
      <ion-popover trigger="trigger-buttongd">
        <ng-template>
          <ion-content class="ion-paddingd">
            <img alt="gd1" img src="../../assets/img/gd1.JPG" />
            
          <p>Discovery date:	 	1880      </p> 
          <p> Discovered by:		Jean Charles Galissard de Marignac </p> 
          <p> Origin of the name: Gadolinium was named in honour of Johan Gadolin. </p>
        <p> Allotropes:		no data found</p> 
<ion-footer>
  Gadolinium has useful properties in alloys. As little as 1% gadolinium can improve the workability of iron and chromium alloys, and their resistance to high temperatures and oxidation. It is also used in alloys for making magnets, electronic components and data storage disks.
</ion-footer>    

</ion-content>
</ng-template>
</ion-popover>
</ion-item> 

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="tb" img src="../../assets/img/tb.JPG" />
      </ion-thumbnail>
      <ion-label id="trigger-buttontb">Terbium</ion-label>
      <ion-popover trigger="trigger-buttontb">
        <ng-template>
          <ion-content class="ion-paddintb">
            <img alt="tb1" img src="../../assets/img/Tb1.JPG" />
            
          <p>Discovery date:	 	1843      </p> 
          <p> Discovered by:		Carl Gustav Mosander </p> 
          <p> Origin of the name: Terbium was named after Ytterby, Sweden. </p>
        <p> Allotropes:		no data found</p> 
<ion-footer>
  Terbium is used to dope calcium fluoride, calcium tungstate and strontium molybdate, all used in solid-state devices. It is also used in low-energy lightbulbs and mercury lamps. It has been used to improve the safety of medical x-rays by allowing the same quality image to be produced with a much shorter exposure time. Terbium salts are used in laser devices.
</ion-footer>
</ion-content>
</ng-template>
</ion-popover>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img alt="dy" img src="../../assets/img/dy.JPG" />
  </ion-thumbnail>
  <ion-label id="trigger-buttondy">Dysprosium</ion-label>
  <ion-popover trigger="trigger-buttondy">
    <ng-template>
      <ion-content class="ion-paddindy">
        <img alt="dy1" img src="../../assets/img/dy1.JPG" />
        
      <p>Discovery date:	 		1886      </p> 
      <p> Discovered by: Paul-Émile Lecoq de Boisbaudran </p> 
      <p> Origin of the name: The name is derived from the Greek 'dysprositos', meaning hard to get. </p>
    <p> Allotropes:		no data found</p> 
<ion-footer>
  As a pure metal it is little used, because it reacts readily with water and air. Dysprosium’s main use is in alloys for neodymium-based magnets. This is because it is resistant to demagnetisation at high temperatures. This property is important for magnets used in motors or generators. These magnets are used in wind turbines and electrical vehicles, so demand for dysprosium is growing rapidly.
</ion-footer>
</ion-content>
</ng-template>
</ion-popover>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img alt="ho" img src="../../assets/img/ho.JPG" />
  </ion-thumbnail>
  <ion-label id="trigger-buttonho">Holmium</ion-label>
  <ion-popover trigger="trigger-buttonho">
    <ng-template>
      <ion-content class="ion-paddinho">
        <img alt="ho1" img src="../../assets/img/ho1.JPG" />
        
      <p>Discovery date:	 			1878       </p> 
      <p> Discovered by: Per Teodor Cleve at Uppsala, Sweden and independently by Marc Delafontaine and Louis Soret in Geneva, Switzerland  </p> 
      <p> Origin of the name: 	The name is derived from the Latin name for Stockholm, 'Holmia'.  </p>
    <p> Allotropes:		no data found</p> 
<ion-footer>
  Holmium can absorb neutrons, so it is used in nuclear reactors to keep a chain reaction under control. Its alloys are used in some magnets.
</ion-footer>
</ion-content>
</ng-template>
</ion-popover>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img alt="er" img src="../../assets/img/er.JPG" />
  </ion-thumbnail>
  <ion-label id="trigger-buttoner">Erbium</ion-label>
  <ion-popover trigger="trigger-buttoner">
    <ng-template>
      <ion-content class="ion-paddiner">
        <img alt="er1" img src="../../assets/img/er1.JPG" />
        
      <p>Discovery date:	 				1843        </p> 
      <p> Discovered by: Carl Gustav Mosander </p> 
      <p> Origin of the name: Erbium is named after Ytterby, Sweden,  </p>
    <p> Allotropes:		no data found</p> 
<ion-footer>
  Erbium oxide is occasionally used in infrared absorbing glass, for example safety glasses for welders and metal workers. When erbium is added to glass it gives the glass a pink tinge. It is used to give colour to some sunglasses and imitation gems.
</ion-footer>
</ion-content>
</ng-template>
</ion-popover>
</ion-item>


<ion-item>
  <ion-thumbnail slot="start">
    <img alt="tm" img src="../../assets/img/tm.JPG" />
  </ion-thumbnail>
  <ion-label id="trigger-buttontm">Thulium</ion-label>
  <ion-popover trigger="trigger-buttontm">
    <ng-template>
      <ion-content class="ion-paddiner">
        <img alt="tm1" img src="../../assets/img/Tm1.JPG" />
        
      <p>Discovery date:	1879 </p> 
      <p> Discovered by: Per Teodor Cleve </p> 
      <p> Origin of the name: The name comes from Thule, the ancient name for Scandinavia. </p>
    <p> Allotropes:		no data found</p> 
<ion-footer>
  When irradiated in a nuclear reactor, thulium produces an isotope that emits x-rays. A ‘button’ of this isotope is used to make a lightweight, portable x-ray machine for medical use. Thulium is used in lasers with surgical applications.
</ion-footer>
</ion-content>
</ng-template>
</ion-popover>
</ion-item>


<ion-item>
  <ion-thumbnail slot="start">
    <img alt="yb" img src="../../assets/img/yb.JPG" />
  </ion-thumbnail>
  <ion-label id="trigger-buttonyb">Ytterbium</ion-label>
  <ion-popover trigger="trigger-buttonyb">
    <ng-template>
      <ion-content class="ion-paddiner">
        <img alt="yb1" img src="../../assets/img/Yb1.JPG" />
        
      <p>Discovery date:		1878 </p> 
      <p> Discovered by: Jean Charles Galissard de Marignac </p> 
      <p> Origin of the name: Ytterbium is named after Ytterby, Sweden.  </p>
    <p> Allotropes:		no data found</p> 
<ion-footer>
  Ytterbium is beginning to find a variety of uses, such as in memory devices and tuneable lasers. It can also be used as an industrial catalyst and is increasingly being used to replace other catalysts considered to be too toxic and polluting.
</ion-footer>
</ion-content>
</ng-template>
</ion-popover>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img alt="lu" img src="../../assets/img/Lu.JPG" />
  </ion-thumbnail>
  <ion-label id="trigger-buttonlu">Lutetium</ion-label>
  <ion-popover trigger="trigger-buttonlu">
    <ng-template>
      <ion-content class="ion-paddiner">
        <img alt="lu1" img src="../../assets/img/Lu1.JPG" />
        
      <p>Discovery date:		1907  </p> 
      <p> Discovered by: Georges Urbain in Paris, France and independently by Charles James in New Hampshire, USA </p> 
      <p> Origin of the name: 	The name derives from the Romans' name for Paris, 'Lutetia'</p>
    <p> Allotropes:		no data found</p> 
<ion-footer>
  Lutetium is little used outside research. One of its few commercial uses is as a catalyst for cracking hydrocarbons in oil refineries.</ion-footer>
</ion-content>
</ng-template>
</ion-popover>
</ion-item>

   </ion-list>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Actinides Elements</ion-card-title>
      <ion-card-subtitle>The actinides, elements 90-103, follow actinium on the periodic table.  They have electron configurations of 5fx 6d1 7s2.  With the exceptions of actinium, thorium, and uranium, the actinides are not found naturally, and are instead synthetically produced by neutron bombardment or in particle accelerators.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="th" img src="../../assets/img/Th.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonth">Thorium</ion-label>
          <ion-popover trigger="trigger-buttonth">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="th1" img src="../../assets/img/Th1.JPG" />
                
              <p>Discovery date:			1829   </p> 
              <p> Discovered by: Jöns Jacob Berzelius  </p> 
              <p> Origin of the name: Thorium is named after Thor, the Scandinavian god of war. </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          Thorium can be used as a source of nuclear power. It is about three times as abundant as uranium and about as abundant as lead, and there is probably more energy available from thorium than from both uranium and fossil fuels. India and China are in the process of developing nuclear power plants with thorium reactors, but this is still a very new technology.       
         </ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="pa" img src="../../assets/img/Pa.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonpa">Protactinium</ion-label>
          <ion-popover trigger="trigger-buttonpa">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="pa1" img src="../../assets/img/pa1.JPG" />
                
              <p>Discovery date:	1913  </p> 
              <p> Discovered by:Kasimir Fajans and Otto Göhring  </p> 
              <p> Origin of the name: The name is derived from the Greek 'protos', meaning first, as a prefix to the element actinium, which is produced through the radioactive decay of proactinium. </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          Protactinium is little used outside of research.        
        </ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="U" img src="../../assets/img/U.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonu">Uranium</ion-label>
          <ion-popover trigger="trigger-buttonu">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="u1" img src="../../assets/img/u1.JPG" />
                
              <p>Discovery date:		1789  </p> 
              <p> Discovered by: 	Martin Heinrich Klaproth </p> 
              <p> Origin of the name: Uranium was named after the planet Uranus. </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          Naturally occurring uranium consists of 99% uranium-238 and 1% uranium-235. Uranium-235 is the only naturally occurring fissionable fuel (a fuel that can sustain a chain reaction). Uranium fuel used in nuclear reactors is enriched with uranium-235. The chain reaction is carefully controlled using neutron-absorbing materials. The heat generated by the fuel is used to create steam to turn turbines and generate electrical power.                
        </ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="np" img src="../../assets/img/np.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonnp">Neptunium</ion-label>
          <ion-popover trigger="trigger-buttonnp">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="np1" img src="../../assets/img/np1.JPG" />
                
              <p>Discovery date:		1940  </p> 
              <p> Discovered by: 		Edwin McMillan and Philip Abelson </p> 
              <p> Origin of the name: 	Neptunium was named after the planet Neptune. </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          Neptunium is little used outside research. The isotope neptunium-237 has been used in neutron detectors.
                </ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>


        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="pu" img src="../../assets/img/pu.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonnp">Plutonium</ion-label>
          <ion-popover trigger="trigger-buttonpu">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="pu1" img src="../../assets/img/pu1.JPG" />
                
              <p>Discovery date:		1940  </p> 
              <p> Discovered by: 			Glenn Seaborg and colleagues </p> 
              <p> Origin of the name: 	Plutonium, is named after the then planet Pluto, following from the two previous elements uranium and neptunium. 
                 </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          Plutonium was used in several of the first atomic bombs, and is still used in nuclear weapons. The complete detonation of a kilogram of plutonium produces an explosion equivalent to over 10,000 tonnes of chemical explosive.
        </ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="am" img src="../../assets/img/am.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonam">Americium</ion-label>
          <ion-popover trigger="trigger-buttonam">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="am1" img src="../../assets/img/am1.JPG" />
                
              <p>Discovery date:		1944  </p> 
              <p> Discovered by: 			Glenn Seaborg and colleagues </p> 
              <p> Origin of the name: Americium is named for America where it was first made. 
                 </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          It has the potential to be used in spacecraft batteries in the future. Currently plutonium is used but availability is poor so alternatives are being considered.
          </ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>

        
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="cm" img src="../../assets/img/cm.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttoncm">Curium</ion-label>
          <ion-popover trigger="trigger-buttoncm">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="cm1" img src="../../assets/img/cm1.JPG" />
                
              <p>Discovery date:		1944  </p> 
              <p> Discovered by: 			Glenn Seaborg and colleagues </p> 
              <p> Origin of the name:Curium is named in honour of Pierre and Marie Curie. 
                 </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          Curium has been used to provide power to electrical equipment used on space missions.          </ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="bk" img src="../../assets/img/bk.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonbk">Berkelium</ion-label>
          <ion-popover trigger="trigger-buttonbk">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="bk1" img src="../../assets/img/bk1.JPG" />
                
              <p>Discovery date:			1949  </p> 
              <p> Discovered by: 		Stanley Thompson, Albert Ghiorso, and Glenn Seaborg </p> 
              <p> Origin of the name:Berkelium was named after the town Berkeley, California, where it was first made. 
                 </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          Because it is so rare, berkelium has no commercial or technological use at present.
               </ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>

        
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="cf" img src="../../assets/img/cf.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttoncf">Californium</ion-label>
          <ion-popover trigger="trigger-buttoncf">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="cf1" img src="../../assets/img/cf1.JPG" />
                
              <p>Discovery date:			1950  </p> 
              <p> Discovered by: 		Stanley Thompson, Kenneth Street, Jr., Albert Ghiorso, and Glenn Seaborg  </p> 
              <p> Origin of the name: 	Californium is named for the university and state of California, where the element was first made.  </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          Californium is a very strong neutron emitter. It is used in portable metal detectors, for identifying gold and silver ores, to identify water and oil layers in oil wells and to detect metal fatigue and stress in aeroplanes.
</ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>

                
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="es" img src="../../assets/img/es.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttones">Einsteinium</ion-label>
          <ion-popover trigger="trigger-buttones">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="es1" img src="../../assets/img/es1.JPG" />
                
              <p>Discovery date:			1952 </p> 
              <p> Discovered by: 		Albert Ghiorso and colleagues   </p> 
              <p> Origin of the name: Einsteinium is named after the renowned physicist Albert Einstein. </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          Einsteinium has no uses outside research.</ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="fm" img src="../../assets/img/fm.JPG" />
          </ion-thumbnail>
          <ion-label id="trigger-buttonfm">Fermium</ion-label>
          <ion-popover trigger="trigger-buttonfm">
            <ng-template>
              <ion-content class="ion-paddiner">
                <img alt="fm1" img src="../../assets/img/fm1.JPG" />
                
              <p>Discovery date:			1953  </p> 
              <p> Discovered by: 		Albert Ghiorso and colleagues   </p> 
              <p> Origin of the name: 	Fermium is named after the nuclear physicist Enrico Fermi. </p>
            <p> Allotropes:		no data found</p> 
        <ion-footer>

          Fermium has no known biological role. It is toxic due to its radioactivity.</ion-footer>
        </ion-content>
        </ng-template>
        </ion-popover>
        </ion-item>






      </ion-list>
    </ion-card-content>
    </ion-card>
</ion-content>

