ion-content{
    --background:  #52ffe4;
}
ion-card-title {
    --color: #52ffe4;
  }
  ion-card-subtitle {
    --color: #8bac8b;
  }
ion-card{
    --background: #121312;
}
ion-item{
    --background: linear-gradient(#52ffe4; #f4f5f8);
}

